name: Shield Breaker Bot
on:
  push:
  workflow_dispatch:

jobs:
  crack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Tools
        run: pip install selenium requests webdriver-manager
      - name: Run Attack
        run: python bot.py
