name: Final Stealth Attack
on:
  push:
  workflow_dispatch:

jobs:
  attack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - setup-python: '3.9'
      - run: pip install selenium webdriver-manager requests selenium-stealth
      - run: python bot.py
